<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>

</head>
<body>
<html>
<head>
    <title>登录页面</title>
   <link rel="stylesheet" href="../static/css/loginStyle.css" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>


    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords"
          content="Simple Login Form Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
</head>
<body>
<div class="contact">
    <div class="video_class">
        <div class="videos_res">
            <video  muted="muted" autoplay="autoplay" >
                <source src="../static/img/login.mp4" type="video/mp4">
            </video>
        </div>
        <div class="bg_class">
            
            <div class="container w3">
                <h2>Login Now</h2>
                <form  action="/login" method="post">
                    <div class="username">
                        <p id="error" hidden style="color: red ">登录失败</p>
                        <span class="username">Username:</span>
                        <input type="text" name="username" class="name" placeholder="Email/Account" required="required">
                        <div class="clear"></div>
                    </div>
                    <div class="password-agileits">
                        <span class="username">Password:</span>
                        <input type="password" name="password" class="password" placeholder="Password" required="required">
                        <div class="clear"></div>
                    </div>

                    <div class="rem-for-agile">
                        <input type="checkbox" name="remember"  class="remember">Remember me<br>
                    </div>

                    <div class="login-w3">
                        <input type="submit" class="login" value="Login">
                        <div class="clear"></div>
                    </div>
                </form>
            </div>
            <div class="footer-w3l">
                <p><a>&copy; Design by 云扑面</a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>


