<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>个人中心</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css"/>
    <script src="../static/js/jquery-3.4.1.min.js"></script>
</head>


<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><a href="/index" style="color: #1E9FFF">云扑面</a></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item">

            </li>

        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img " th:text="${user.user_othername}">
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a class="information">基本资料</a>
                    </dd>
                    <dd>
                        <a href="">安全设置</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="/logout">退出</a>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <dl class="layui-nav-child">

                        <dd>
                            <button class="layui-btn layui-bg-black  " style="width: 100%;height: 100%">文章</button>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <dl class="layui-nav-child">

                        <dd>
                            <button class="layui-btn layui-bg-black tianjia1" style="width: 100%;height: 100%">公告
                            </button>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <dl class="layui-nav-child">

                        <dd>
                            <button class="layui-btn layui-bg-black tianjia1" style="width: 100%;height: 100%">评论
                            </button>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <dl class="layui-nav-child">

                        <dd>
                            <button class="layui-btn layui-bg-black tianjia1" style="width: 100%;height: 100%">留言
                            </button>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <dl class="layui-nav-child">

                        <dd>
                            <button class="layui-btn layui-bg-black tianjia1" style="width: 100%;height: 100%">发表
                            </button>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <dl class="layui-nav-child">

                        <dd>
                            <button class="layui-btn layui-bg-black tianjia1" style="width: 100%;height: 100%">资料
                            </button>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <dl class="layui-nav-child">

                        <dd>
                            <button class="layui-btn layui-bg-black tianjia1" style="width: 100%;height: 100%">数据报告
                            </button>
                            </a>
                        </dd>
                    </dl>
                </li>

            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <table class="layui-hide" id="demo" lay-filter="test"></table>
        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
            <a class="layui-btn layui-btn-xs" lay-event="more">更多</a>
        </script>
    </div>

    <div class="layui-footer">
        @云扑面


        <!--	联系管理员:-->
        <!--<input type="text" style="width: 800px;height: 30px;" placeholder="发送内容"/>
        <button class="layui-btn">发送</button>-->
        <div class="layui-layout-right">
            <form action="/sendMail" method="post" class="layui-form">
                <input type="text" name="content" style="width: 800px;height: 30px;" placeholder="给管理员发送邮件">
                <input type="submit" class="layui-btn-danger layui-btn">
            </form>
        </div>


    </div>
</div>

<div id="Userinformation" hidden="hidden">
    <div class="layui-form-item">
        <label class="layui-form-label">昵称：</label>
        <div class="layui-input-block">
            <label th:text="${user.user_othername}" class="layui-form-label"></label>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">账号：</label>
        <div class="layui-input-block">
            <label th:text="${user.user_account}" class="layui-form-label"></label>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱：</label>
        <div class="layui-input-block">
            <label th:text="${user.user_emile}" class="layui-form-label"></label>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">角色：</label>
        <div class="layui-input-block">
            <label th:text="${user.user_role}" class="layui-form-label"></label>
        </div>
    </div>
</div>

</body>


<script type="text/javascript" src="../static/layui/layui.js"></script>
<script th:inline="javascript">


    layui.use('element', function () {
        var element = layui.element;

    });
    $(".information").click(function () {
        layui.use('layer', function () {
            var layer = layui.layer;
            layer.open({
                type: 1,
                title: '个人信息',
                content: $("#Userinformation"),
                anim: 3,
                area: ['300px', '280px']
            })
        });

    });
    layui.use('table', function () {
        var table = layui.table;

        table.render({
            elem: '#demo'
            , url: '/user/userList'
            , toolbar: 'default'
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , cols: [[
                {type: 'checkbox', fixed: 'left'}
                , {field: 'id', width: 80, title: 'ID', sort: true}
                , {field: 'user_othername', width: 80, title: '昵称'}
                , {field: 'user_account', width: '10%', minWidth: 100, title: '账号', sort: true}
                , {field: 'user_emile', width: 80, title: '邮箱', width: '15%', minWidth: 100}
                //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
                , {field: 'subscriptioned_number', title: '博客数', sort: true}
                , {field: 'subscription_number', title: '订阅数', sort: true}
                , {field: 'user_role', title: '角色'}
                , {field: 'user_motto', title: '签名'}

            ]]
        });


        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id)
                , data = checkStatus.data; //获取选中的数据
            switch (obj.event) {
                case 'add':
                    layer.alert(
                        `
                        权限不够，不能添加

                       `
                    )
                    break;
                case 'update':
                    if (data.length === 0) {
                        layer.msg('请选择一行');
                    } else if (data.length > 1) {
                        layer.msg('只能同时编辑一个');
                    } else {
                      layui.use('layer',function () {
                            var layer=layui.layer;
                            layer.open({
                                type:1,
                                title:'修改界面',
                                closeBtn:1,
                                content:`
<form action="/user/updateRoleByAccount" method="post">
                <div class="layui-form-item">
                        <label class="layui-form-label">昵称：</label>
                        <div class="layui-input-block">
                            <label  class="layui-form-label">${checkStatus.data[0].user_othername}</label>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">账号：</label>
                        <div class="layui-input-block">
                            <input type="text" name="account" required  lay-verify="required" value="${checkStatus.data[0].user_account}" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">邮箱：</label>
                        <div class="layui-input-block">
                            <label class="layui-form-label" >${checkStatus.data[0].user_emile}</label>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">角色：</label>
                        <div class="layui-input-block">
                            <input type="text" name="role" required  lay-verify="required" value="${checkStatus.data[0].user_role}" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="formDemo" id="uploadRole">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
`
                                ,
                                anim:2,
                                cancel: function(){

                                }

                            })
                        })

                   }
                    break;
                case 'delete':
                    if (data.length === 0) {
                        layer.msg('请选择一行');
                    } else {
                        layer.confirm("真的删除行吗？",{
                            btn: ['删除', '取消']
                        }, function () {
                            var checkStatus = table.checkStatus(obj.config.id)
                                , data = checkStatus.data;
                                    var account=data[0].user_emile;

                            $.ajax({
                                url: "/user/deleteByAccount",
                                method:"post",
                                data:{
                                    account:account
                                },
                                success:function (res) {
                                    if(res.code==1){
                                      layer.msg("删除成功");
                                    }else {
                                        layui.use('layer', function(){
                                            var layer = layui.layer;

                                            layer.msg('删除失败');
                                        });
                                    }
                                    window.location.replace("/userMain");

                                }
                            });
                        }, function(){
                            layer.close();
                        });

                    }
                    break;
            }
            ;
        });

/*        //监听行工具事件
        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'detail') {
                layer.msg('查看操作');
            } else if (layEvent === 'more') {
                //下拉菜单
                dropdown.render({
                    elem: this //触发事件的 DOM 对象
                    , show: true //外部事件触发即显示
                    , data: [{
                        title: '编辑'
                        , id: 'edit'
                    }, {
                        title: '删除'
                        , id: 'del'
                    }]
                    , click: function (menudata) {
                        if (menudata.id === 'del') {
                            layer.confirm('真的删除行么', function (index) {
                                obj.del(); //删除对应行（tr）的DOM结构
                                layer.close(index);
                                //向服务端发送删除指令
                            });
                        } else if (menudata.id === 'edit') {
                            layer.msg('编辑操作，当前行 ID:' + data.id);
                        }
                    }
                    , style: 'margin-left: -50px; box-shadow: 1px 1px 10px rgb(0 0 0 / 12%);' //设置额外样式
                })
            }
        });*/

    });


</script>


</html>
